@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --dark-blue: #001f3f; /* Example dark blue */
  --off-white: #f8f8f8; /* Example off-white */
  --font-color: #333; /* Example font color */
}

body {
  background-color: var(--off-white);
}

.nav{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav h1 {

    font-size: 2rem;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}
